{
	"trailingComma": "es5",
	"tabWidth": 4,
	"semi": false,
	"singleQuote": true,
	"printWidth": 10000,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"arrowParens": "avoid",
	"quoteProps": "as-needed",
	"useTabs": true,
	"htmlWhitespaceSensitivity": "ignore",
	"overrides": [
		{
			"files": "*",
			"options": {
				"tabWidth": 4,
				"useTabs": true
			}
		}
	]
}
